@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
  margin: 0 auto;
  width: 1280px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif ;
  font-size: 22px;
  line-height: 118%;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #000000;
}

.input {
  font-family: "PT Sans";
  font-weight: 400;
  color: inherit;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input:focus {
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.row-container {
  display: flex;

}

.block-img {
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  font-weight: 700;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;

}

.navigation-list {
  margin: 0;
  padding: 0;

  width: 400px;
}

.navigation-user {
  width: 300px;
  margin-left: auto;
}


.navigation .navigation-link {
  color: inherit;
}

.main-logo {
  width: 138px;
  margin-right: 30px;
}

.button {
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 4px;
}

.button-primary {
  background-color: #756157;
  color: #ffffff;

}

.button-secondary {
  background-color: #82b3d3;
  color: #ffffff;

}

.button-select {
  background-color: #7db54f;
  color: #ffffff;

}

.bg-transparent {
  background-color: transparent;
  color: inherit;
}



.main-index {
  text-align: center;
}

.hero {
  background-color: #404f5b;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-img {
  margin: 0 auto;
}

.hero-header {
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.advantages-container {
  display: flex;
}


.advantages-item {
  width: 400px;
  height: 385px;
  padding: 0 85px;
}

.advantage-header {
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
}

.advantage-text {
  color: #333333;
}



.advantage-primary {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantage-primary .advantage-text {
  color: #ffffff;
}

.advantage-secondary {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-secondary-2 {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);;
}



.sedona-invitation-header {
  text-transform: uppercase;
}


.hotel-options-list {
  display: flex;
}

.hotel-options-item {
  width: 400px;
  height: 385px;
  padding: 0 85px;
}

.hotel-option-header {
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  line-height: 117%;
  font-weight: 700;
}

.hotel-option-description {
  color: #333333;
  font-size: 18px;
}

.hotel-option-primary {
  background-color: rgba(131, 179, 211, 0.12);
}


.hotel-search-header {
  text-transform: uppercase;
  font-size: 30px;
}

.hotel-search-text {
  color: #333333;
  font-size: 22px;

}


/*
Catalog.html
*/

.catalog-container {
  width: 1060px;
  margin: 0 auto;
}

.hotel-search {
  background-color: #404f5b;
  background-image: url("../images/filter-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0 auto;
}

.catalog-header {
  font-size: 60px;
  line-height: 130%;
}

.result-header {
  margin-right: 200px;
}



.breadcrumbs a {
  font-size: 16px;
  line-height: 131%;

}



.blur {
  backdrop-filter: blur(10px);
}

.filter-section {
}

.catalog-filter-group {
  border: none;
}

.catalog-filter {
  display: flex;
}

.filter-section legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.filter-section label {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
}


.result-header {
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.filter-select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  color: #333333;
  background-color: transparent;
  width: 212px;
}

.hotels-view-mode-list{
  margin-left: auto
}

.hotels-view-mode-list a{
  text-decoration: none;
  margin-left: auto;
}

.view-mode-selection {
  margin-bottom: 40px;
}



.hotel-cards-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;


}

.hotel-card-item {
  display: block;
  border: 1px solid #e6e6e6;
  width: 298px;
  border-radius: 4px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hotel-card-item:nth-child(3n){
  margin-right: 0;
}


.hotel-card-header {
  font-size: 24px;
  line-height: 117%;
}

.price-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333333;
}

.hotel-rating {
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
  color: #333333;

}




.pagination {
  display: flex;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-link {
  width: 60px;
  height: 60px;

}

.pagination-current {
  background-color: #f2f2f2;
}

.pagination-empty {
  background-color: transparent;
  color: #000000;
}

.page-footer {
  margin-bottom: 0;
}

.footer-subscription-form {
  text-align: center;
}


.subscription-header {
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.subscription-text {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
}

.subscription-main {
  background-color: #404f5b;
  background-image: url("../images/Subscribe.png");
  background-size:cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-main p {
  color: #ffffff;
}

.subscription-email-field {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  background-color: #f2f2f2;
}


.footer-container {
  display: flex;
  margin: auto;
  width: 1060px;
  height: 120px;
  align-items: center;
}

.social-list {
  display: flex;
  width: 200px;
}

.social-item {
}


.footer-contacts {
  width: 720px;
}

.footer-contacts-phone {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  text-align: center;
  font-style: normal;

}

.html-academy-link {
  margin-left: auto;
}
